html,body {
    --grey: rgb(220, 220, 220);
    --white: rgb(245, 245, 245);
    --green: rgb(80, 160, 61);
    --yellow: rgb(255, 205, 61);
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: scroll;
}

.homepage-container {
    background-color: var(--grey);
    min-height: 110%;
    padding: 0 !important;
    /* padding-bottom: 10rem; */
    /* width: 100vw; */
}

body::-webkit-scrollbar {
    display:none;
}

h1 {
    text-align: center;
    background-color: var(--yellow);
}

.h1-cn {
    font-size: 3rem;
    padding: 0.5rem 0;
}

.h1-en {
    font-size: 1.5rem;
    padding: 0.5rem 0;
}

h2 {
    text-align: center;
    background-color: var(--yellow);
    width: fit-content !important;
    height: fit-content;
    display: flex;
    justify-content: center;
    border-radius: 25px;
}

.h2-title {
    font-size: 1.5rem;
    padding: 0.5rem 0;
    width: fit-content;
    height: fit-content;
}

.outer-container {
    display: flex;
    justify-content: center;
    margin: 2rem;
    padding: 2rem;
    background-color: var(--white);
    height: fit-content;
    border-width: none;
    border-radius: 40px 10px;
    box-shadow: 1px 1px 10px 1px var(--yellow);
    /* box-shadow: 1px 1px 10px 1px rgb(150,150,150); */
}

.upload-container {
    display: flex;
    justify-content: space-around;
    height: 100%;
}

#ForUploadImage {
    /* background-color:blue; */
    height: 100%;
    margin: 0.5rem 0;
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.upload-title {
    height: fit-content;
    text-align: center;
    font-size: 2rem;
}

#upload-image {
    height: fit-content;
    display: none;
}

#file-upload-button {
    width: 100%;
}

#output {
    height: auto !important;
    width: 50% !important;
    aspect-ratio: 4/3;
    margin: 1rem !important;
    padding: 0 !important;
}

#ForUsingCamera {
    /* background-color:red; */
    height: 100%;
    margin: 0.5rem 0;
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.camera-title {
    height: fit-content;
    text-align: center;
    font-size: 2rem;
}

#start-camera {
    height: fit-content;
    display: none;
}

video {
    height: auto !important;
    width: 50% !important;
    aspect-ratio: 4/3;
    margin: 1rem !important;
    padding: 0 !important;
}

#click-photo {
    height: fit-content;
    display: none;
}

canvas {
    height: auto !important;
    width: 50% !important;
    aspect-ratio: 4/3;
    margin: 1rem !important;
    padding: 0 !important;
}

#submitButton {
    margin: 1.5rem 0;
    width: 30vw;
    height: 3rem;
    background-color: var(--yellow);
    border: none;
    border-radius: 20px 5px;
    font-weight: bold;
}

@media (max-width: 472px) {
    .h2-title {
        font-size: 1rem;
    }

    .camera-title {
        font-size: 1.2rem;
    }

    .upload-title {
        font-size: 1.2rem;
    }
}

#click-label {
    margin: 0.5rem;
    display: none;
}

label {
    border-style: dashed;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* flex-direction: column; */
    padding: 1rem;
    text-align: center;
    opacity: 0.5;
    transition: border-color 0.5s,
        border-style 2s,
        opacity 0.5s;
}

label:hover {
    opacity: 1;
    border-color: var(--yellow);
    border-style: solid;
}

.bi {
    font-size: 2rem;
}

@media (max-width: 767px) {

    #output,
    video,
    canvas {
        width: 80% !important;
    }
}