body {
    --white: rgb(220,220,220);
    --green: rgb(80,160,61);
    --yellow: rgb(255, 205, 61);
    margin: 0;
}

#ResTagDisplay {
    display:inline-flex;
}

.RestaurantsInfoDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 50px 20px;
    margin: 1.5rem;
    padding: 1.5rem;
    background-color: rgb(245,245,245);
    width: 90%;
    align-items: center;
}


#OpenRiceIcon, #GoogleMapIcon {
    width:4rem !important;
    height:4rem !important;
    margin: 0.5rem;
}

.openRiceLink > button , .GoogleMapSearch > button {
    border:none;
    background-color: transparent;
}

#restaurantResultContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.information{
    width: 30%;
    font-size: 1.2rem;
    padding: 1rem;
}
/* .doorPhoto{
    width: 200px;
    height: 150px;
    overflow: hidden;
} */

.doorPhoto img{
    border-radius: 1rem;
    width: 300px;
    height: 200px;
    object-fit: cover;
}
#main{
    display:none;
    background-color: var(--white)
}

#loading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--green);
    font-size: 2rem;
    font-weight: bold;
    height:100vh
}

#foodResult{
    display: flex;
    border-radius: 1.5rem;
    /* border: 1px solid; */
    align-items: center;
    justify-content: center;
    margin: 1.5rem;
    padding: 1.5rem;
    background-color: rgb(245,245,245);
    flex-direction: column;
    width: 50%;
}

#foodChineseName{
    font-size: 3rem;
    background-color: rgb(255,205,61);
    padding: 0rem 1.5rem;

}

#main-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items:center;
}

#foodLabel{
    background-color: rgb(255,205,61);
    padding: 0rem 1rem;
}

.home-button {
    background-color: rgb(255, 205, 61);
    border: solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 10px;
    right: 10px;
    color:white;
    font-size: 1.5rem;
}

.restaurantname ,.address ,.phoneNumber ,.distance{
    padding:0.3rem;
}

.title {
    text-align: center;
    background-color: var(--yellow);
    flex-direction: column;
    display: flex;
    width: 100%;
    margin: 0;
}

.nav-cn {
    font-size: 3rem;
    padding: 0.5rem 0;
}

.nav-en {
    font-size: 1.5rem;
    padding: 0.5rem 0;
}

@media only screen and (max-width : 768px){

    #container {
        overflow: hidden;
    }
    #foodResult{
        width:fit-content;
    }

    .information{
        width:fit-content;
        font-size:1rem;
        padding:0.3rem;
    }

    .buttontoclick{
        display: flex;
    }

    #OpenRiceIcon, #GoogleMapIcon {
        width:2.5rem !important;
        height:2.5rem !important;
        margin: 0.5rem;
    }

    h1, #foodChineseName{
        font-size: 1.5rem;
    }

    .RestaurantsInfoDiv{
        width: auto;
    }
    
}